$bgGradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
  text-align: center;
}

.hero__title {
  @include font(900, 26px, 1.62, 0.06em);
  color: var(--white-color);
  font-family: 'roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  max-width: 360px;
  margin: 0 auto 30px;
  @include desktop {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  @include font(700, 16px, 1.9, 0.06em);
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: 'roboto', sans-serif;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
}

.overlay {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: $bgGradient, url(../img/hero_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include retina {
    background-image: $bgGradient, url(../img/hero_mobile_2x.jpg);
  }
  @include tablet {
    background-image: $bgGradient, url(../img/hero_tablet.jpg);
    @include retina {
      background-image: $bgGradient, url(../img/hero_tablet_2x.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    padding: 200px 0;
    background-image: $bgGradient, url(../img/hero.jpg);
    @include retina {
      background-image: $bgGradient, url(../img/hero_2x.jpg);
    }
  }
}
